.App{
  text-align: center;
}
.logo{
  color: #00c471;
  font-weight: bold;
  cursor: pointer;
}
.navbar-brand:focus, .navbar-brand:hover{
  color: #00c471;
}
.nav-link:hover{font-weight: bold;}
.main-img{
  height: 300px;
  background: url("./Image/main_img.png") center;
  background-size: cover;
}
.item-list{
  text-align: center;
}
.more-btn{
  margin-top: 20px;
}
.loading-txt{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
